/*navigation*/
body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
   
    font-weight: lighter;
}
.nav > li > a{
	font-weight: bold;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar-nav > li.active > a {
	color: #ffe600;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: none;
    color: #ffe600;
}
.navbar-collapse .navbar-right li a:before {
    content: "\f0c8";
    margin: 0 15px;
    font-family: "FontAwesome";
    font-size: 5px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    color: #ffe600;
}
.navbar-smak {
	background: rgba(19, 19, 22, 0.2);
	transition: all 0.5s;
}
/*HOME*/
/*#home {*/
/*    background: url(/images/bg.jpg) no-repeat top fixed;*/
/*	position: relative;*/
/*	width: 100%;*/
/*	position: relative;*/
	
/*}*/

/* SLIDER*/
html, body {
    height: 100%;
}


.home-fullscreen {
   background: url(../images/bg.jpg) no-repeat top fixed; 
   background-size: cover;
   width:100%;
   height:100%;
   position: relative;
}

.home-content {
    position: relative;
    top: 40%;
    margin-top: -100px;
    width: 100%;
    height: 32%;
    text-align: center;
    background: rgba(19, 19, 22, 0.2);
    transition: all 0.5s;
    display: inline-block;
    /*padding: 50px;*/
}
.home-content{
    float: none;
    list-style: none;
    position: relative;
    display: none;
    margin: 0 auto;
}




.home-content .home-form-btn {
    border-radius: 0;
    background-color: #ffe600;
    border: none;
    color: black;
    padding: 1% 2%;
    font-weight: bold;
    display: block;
    margin: 1% auto;
    
}

.home-content span {
    text-transform: uppercase;
    font-size: 5.5rem;
    color: white;
    font-weight: bold;
}

.text-danger {
    color: red;
    display:none;
}

.navbar-smak .nav {
	padding: 25px 0;
}
#navbar .container {
    padding: 0% !important;
}

.navbar-small {
	background: rgba(19, 19, 22, 0.7);
}

.navbar-small .nav {
	padding: 5px 0 !important;
}

.navbar-small .navbar-brand > img {
	height: 40px;
}


.navbar-small .navbar-brand {
	padding: 5px 15px 0 0;
}

.nav > li > a {
	/*padding: 0;*/
}

.navbar-brand > img {
	height: 60px;
}

.navbar-nav > li > a {
	color: #fff;
}


.navbar-collapse ul li a:hover{
	color: #ffe600;
	background: rgba(0, 0, 0, 0);
}



.navbar-collapse ul li a:active{
	color: #ffe600;
	/*background: rgba(0, 0, 0, 0);*/
}

.increase, .about-icons, .services-icons{
    display: block;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


.navbar-nav > li > .dropdown-menu {
	margin-top: -5px;;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/*SLIDER*/
.slide {
    /*position: absolute;*/
    /*top: 50%;*/
    margin-top: 135px;
    margin-bottom: 135px;
    width: 100%;
    text-align: center;
 	background: rgba(19, 19, 22, 0.2);
	transition: all 0.5s;
    display: inline-block;
    padding: 40px;
    
    
}
/*.fa-angle-double-right {*/
/*    position: absolute;*/
/*    right: 15%;*/
/*    top: 50%;*/
/*    color: white;*/
/*}*/
/*.fa-angle-double-left {*/
/*    position: absolute;*/
/*    left: 15%;*/
/*    top: 50%;*/
/*    color: white;*/
/*}*/

.text-slider li {
    list-style: none;
}

.text-slider li a {
    border-radius: 0;
    background-color: #ffe600;
    border: none;
    color: black;
    padding: 1% 2%;
    font-weight: bold;
}

.go-to {
	background: #ffe600;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 0;
	line-height: 60px;
	text-align: center;
	width: 60px;
	height: 60px;
	display: block;
	color: #fff;
}




.fa-circle {
    color: #ffe600;
}

#services {
    margin-bottom: 3%;

}

.container {
    padding: 2%;
}
#how {
    
    background-color: #131a1d;
    color: white;
}


.block-text {
    color:  white;
}

.fa-camera {
    color: #ffe600;
}

.text-muted {
    color: white;
}

.fa-flask, .fa-archive, .fa-gavel, .fa-cog, .fa-spinner, .fa-truck, fa-square {
    color: #ffe600;
}
#mainNav {
    margin: 0;
    
}

#list-style {
    list-style-type: square;
}

.list-inline {
    display: inline-block;
    list-style-type: square;
    padding-top: 5%;
}

.list-inline:hover {
    color: #ffe600;
}
.portfolio-photo{
    /*margin: 0 auto;*/
    /*width: 95%;*/
}

.col-md-1 {
    /*horizontal-align: center;*/
    /*margin-left: auto;*/
}

#portfolio .portfolio-filter li a:before {
    content: "\f0c8";
    margin: 0 15px;
    font-family: "FontAwesome";
    font-size: 5px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    color: #ffe600;
}
.centering {
    width: 10%;
}

#arrow {
    margin-top: 3%;
}

.portfolio-text {
    padding-top: 2%;
}

.prbtn {
    border-radius: 0;
    background-color: #ffe600;
    border: none;
    color: white;
    padding: 12px 17px;
    font-weight: bold;
}

.portfolio-button {
    padding-top: 3%;
}

.portfolio-filter a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.portfolio-filter a:hover,  .portfolio-filter a.active{
     color: #ffe600; 
}
/*.prtf-img {*/
/*    width: 100%;*/
/*}*/

/*.thumbnail {*/
/*    padding: 0;*/
/*}*/

#happy-clients {
        background-color: #131a1d;
}

.rectangle {
    border: 1px solid #ffe600;
    margin: 1%;
    margin-top: 3%;
    width: 23%;
    color: white;
    float: left;
}

#how h2 {
     color: #ffe600;
     font-weight: bold;
}
.rectangle-text {
    color: #ffe600;
    padding-bottom: 5%;
}

.about-icons{
    float: left;
    padding-top: 1%;
    margin-right: 4%;
}

.about-us {
    margin-top: 3%;
}

.about-icons-text {
    margin-left: 10%;
}

.companies-logos {
    margin-top: 5%;
}

#quotes {
    background-color: #131a1d;
    
}
#quotes p {
    color: white;
}

#quotes footer {
    color: white;
}

.autor {
    background-color: #131a1d;
}

.section-heading-spacer {
    width: 20%;
    border: 1px solid #ffe600;
}
.section-heading-spacer blockquote {
    color: white;
}

.contact-info {
    padding-top: 3%;
}
.form {
     background-color: #131a1d;
}

.contact-info i {
    color: #ffe600;
}

.contact-text {
    color: black;
}

.form-control {
    border-radius: 0;
}

.contact-form-btn {
    border-radius: 0;
    background-color: #ffe600;
    border: none;
    color: black;
    padding: 1% 2%;
    font-weight: bold;
}

#message {
    padding-bottom: 10%;
    border: 1px solid white;
}

.form-control {
    background-color: #131a1d;
    width: 100%;
}

#contactForm {
    margin-top: 3%;
    padding: 0 5%;
}

.social-links {
    padding: 0;
}

.about-us {
    padding-top: 5%;
}

.quotes-autor {
    /*margin-right: 8%;*/
    /*margin-top: 2%;*/
    /*margin-right: 14%;*/
    padding: 0;
    
}



.team-member-social {
    padding: 0;
}

.team-member-social facebook i{
    margin: auto;
}

.quotes-autor li {
    display: inline-block;
    margin: 0px 5px;
    cursor : pointer;
}

.quotes-autor li a {
    color: white;
}

.quotes-autor li a:hover {
    color: #FFE600;
}
.quotes-autor li a.active {
    color: #FFE600;
}


/*footer*/

footer {
	/*padding-top: 20px;*/
	background: #131316;
	text-align: center;
	color: #fff;
}
footer .social-list a,
footer .social-list a:hover {
	color: #fff;
}
footer .social-list {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}
footer .social-list li {
	display: inline-block;
	padding: 10px;
}

.social-list li a{
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	display: inline-block;
}


.number-item {
	text-align: center;
	border: 1px solid #FFE600;
	padding: 20px;
	width: 100%;
	height: 130px;
}
.number-item .number {
	display: block;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}
.number-item .text {
	color: #FFE600;
	font-size: 16px;
	text-transform: uppercase;
}

.full-portfolio {
	list-style: none;
	padding: 0;
}
.full-portfolio li {
	padding: 0 !important;

}
.portfolio-item {
	position: relative;
	overflow: hidden;
}

.image-cover, .cover-title, .cover-text {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-link:hover .image-cover,
.image-link:hover .cover-title,
.image-link:hover .cover-text {
  display: block;
}

.image-cover {
  background: #FFE600;
  -khtml-opacity: .4;
	-moz-opacity: .4;
		 opacity: .4;
}

.cover-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top:  28%;

}

.cover-text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top:  35%;
}




.team{
	list-style: none;
}

.team-extended .row{
	margin-bottom: 0;
}



.team .col-md-3{
	position: static;
	margin-bottom: 15px;
}
.team-member {

	background: #fff;
	text-align: center;
	position: relative;
	display: block;
}

.col-md-3 .name {
    color: #FFE600;
    font-weight: bold;
}

.col-md-3 .title {
    display: block;
    color: black;
}


.team-member:hover{
	text-decoration: none;
}

.team-member .img-responsive {
    margin: 0 auto;
    width: 100%;
}

#team .col-lg-12 {
    padding-bottom: 3%;
}

.about-team-member {
    background-color: #131316;
}

.about-team-member h2 {
    color: #FFE600;
}

.about-team-member p {
    color: white;
}

.about-team-member li {
    display: inline-block;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    
}

.about-team-member li i {
    color: white;

}

.members-skill {
    background-color: #131a1d;
    margin-bottom: 2%;
}

.members-skill h2, .members-skill p {
    color: white;
}

.members-skill h2 {
    font-weight: bold;
}


/*SKILLS*/

.facebook {
    margin-left: 0;
}

.skill-title {
    color: #FFE600;
    font-weight: bold;
    margin-left: 5%;
}


/*Clients*/

/*.client-slider {*/
/*	margin-bottom: 70px;*/
/*}*/
/*.client-nav {*/
/*	list-style: none;*/
/*	text-align: center;*/
/*	margin-bottom: 70px;*/
/*}*/
/*.client-nav > li {*/
/*	display: inline-block;*/
/*	margin-left: 10px;*/
/*	text-align: center;*/
/*	padding: 0;*/
/*}*/
/*.client-nav > li > a {*/
/*	color: #fff;*/
/*	background: #ffe600;*/
/*	color: #fff;*/
/*	vertical-align: middle;*/
/*	width: 30px;*/
/*	height: 30px;*/
/*	display: block;*/
/*}*/
/*.client-nav > li > a .fa {*/
/*	line-height: 30px;*/
/*}*/
.gallery li {
    float: left;
    list-style: none;
    position: relative;
    /*width: 130px;*/
    margin-right: 15px;
}
.gallery ul {
    /*height: 130px;*/
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}


.carousel img {
    width: 85%;
    display: block;
    height: auto;
}

.carousel {
    max-width: 100%;
    margin: 0px auto;
}
.gallery {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 60px;
}

        /*quotes*/

.quotes-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    /*height: 120px;*/
    height: 100%
    text-align: center;
    margin: 0 auto;
    
}
.quotes-wraper{
    float: none;
    list-style: none;
    position: relative;
    /*width: 1140px;*/
    
    display: none;
    margin: 0 auto;
   
}


  /*team members*/

.member-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin: 0 auto; 
}

.member-wraper {
    float: none;
    list-style: none;
    position: relative;
    width: 100%;
    display: none;
    margin: 0 auto;
}

.sld-btn {
    position: absolute;
    top: 40%;
    cursor: pointer;
    opacity: 0.5;
}

.sld-btn:hover {
    color: #FFE600;
}

.btn-right{
  right: 5%;  
}

.btn-left{
    left: 5%;
}







@media (max-width: 767px) {
	.navbar-smak {
		background: rgba(19, 19, 22, 0.7);
	}
	.navbar-smak .nav {
		padding: 5px 0;
	}
	.navbar-smak .navbar-brand > img {
		height: 40px;
	}
	.navbar-smak .navbar-brand {
		padding: 5px 15px 0 0;
	}
    .home-content .lead {
		font-size: 30px;
	}
	
	
	
	
	
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.home-content .lead {
		font-size: 30px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	home-content .lead {
		font-size: 30px;
	}
}